<!DOCTYPE html>
<html>
<head>
  <title>Deals</title>
  <%= stylesheet_link_tag    "deals/application", :media => "all" %>
  <%= javascript_include_tag "deals/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
